.filterBtns {
    background-color: lightgreen;
    margin: 5px;
}

.filterBtns:hover {
    background-color: greenyellow;
}

.clickedBtn {
    background-color: darkgreen !important;
    color: white !important;
}

.title {
    font-size: 18px;
}