.filterBtns {
    background-color: lightgreen;
    margin: 5px;
}

.filterBtns:hover {
    background-color: greenyellow;
}

.clickedBtn {
    background-color: darkgreen !important;
    color: white !important;
}

.title {
    font-size: 18px;
}

.nodataBanner {
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    text-align: center;
    margin: auto;
}

.titleProgram {
    color: #5962a2;
    font-weight: bold;
}

.successProgram {
    color: green;
}

.failureProgram {
    color: red;
}

.filterContainer {
    text-align: center;
    float: left;
    background-color: #fafafa;
    padding-bottom: 1%;
}

.yearFilterBtns, .launchFilterBtns, .landFilterBtns {
    text-align: left;
}

.programsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 1440px) {
    .card {
        border-radius: 10px;
        border: 1px solid #eee;
        background-color: #fafafa;
        margin: 0 2% 50px;
        width: 20%;
        display: inline-block;
        padding: 25px;
        align-items: center;
        line-height: 24px;
    }

    .componentContainer {
        max-width: 1440px;
        margin: auto;
    }
    
    .filterContainer {
        width: 15%;
    }
    
    .yearFilterBtns, .launchFilterBtns, .landFilterBtns {
        width: 80%;
        margin: auto;
    }
    
    .programsContainer {
        width: 85%;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
.card {
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 2% 50px;
    width: 20%;
    display: inline-block;
    padding: 25px;
    align-items: center;
    line-height: 24px;
}

.filterContainer {
    width: 15%;
}

.yearFilterBtns, .launchFilterBtns, .landFilterBtns {
    width: 80%;
    margin: auto;
}

.programsContainer {
    width: 85%;
}
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
    .card {
        border-radius: 10px;
        border: 1px solid #eee;
        background-color: #fafafa;
        display: inline-block;
        margin: 0 2% 20px;
        padding: 25px;
        width: 45%;
        align-items: center;
        line-height: 24px;
}

.filterContainer {
    width: 25%;
}

.yearFilterBtns, .launchFilterBtns, .landFilterBtns {
    width: 80%;
    margin: auto;
}

.programsContainer {
    width: 75%;
}
}


@media only screen and (max-width: 700px) {
    .card {
        border-radius: 10px;
        border: 1px solid #eee;
        background-color: #fafafa;
        display: inline-block;
        margin: 0 0 5%;
        padding: 25px;
        width: 100%;
        align-items: center;
        line-height: 24px;
}

.filterContainer {
    width: 100%;
}

.yearFilterBtns, .launchFilterBtns, .landFilterBtns {
    width: 50%;
    margin: auto;
}

.programsContainer {
    width: 100%;
}

}