<div class="componentContainer">
    <div class="filterContainer">
        <h2>Filters</h2>
        <br/>
        <p class="title">Launch Year</p>
        <hr/>
        <div class="yearFilterBtns">
            <button *ngFor="let year of yearArr; let ind = index;" class="btn filterBtns" [ngClass]="{'clickedBtn': year.yearClicked}" (click)="getYearFilteredData(ind)">{{year.yearVal}}</button>
        </div>
        <br/>
        <p class="title">Successful Launch</p>
        <hr/>   
        <button class="btn filterBtns" [ngClass]="{'clickedBtn': filteredLaunchSuccess == true}" (click)="getLaunchFilteredData(true)">True</button>    
        <button class="btn filterBtns" [ngClass]="{'clickedBtn': filteredLaunchSuccess == false}" (click)="getLaunchFilteredData(false)">False</button>
        <br/><br/>
        <p class="title">Successful Landing</p>
        <hr/>    
        <button class="btn filterBtns" [ngClass]="{'clickedBtn': filteredLandSuccess == true}" (click)="getLandFilteredData(true)">True</button>    
        <button class="btn filterBtns" [ngClass]="{'clickedBtn': filteredLandSuccess == false}" (click)="getLandFilteredData(false)">False</button>
    </div>
    <div *ngIf="!dataFound" class="nodataBanner mat-elevation-z8">
        <h3 class="titleProgram">No data found at the moment.</h3>
    </div>
    <div class="programsContainer">
            <div class="card mat-elevation-z8" *ngFor="let program of spaceLaunchesDataArr; let ind = index;">
                    <img [src]="program.links.mission_patch_small" class="card-img-top" alt="Mission Image Patch">
                    <div class="card-body">
                        <h3 class="card-title titleProgram">{{program.mission_name}} #{{program.flight_number}}</h3>
                        <p class="card-text"><b>Mission Ids:</b></p>
                        <ul>
                            <li *ngFor="let missionID of program.mission_id">{{missionID}}</li>
                        </ul>
                        <p>Successful Launch: <span [ngClass]="{'successProgram': program.launch_success, 'failureProgram': !program.launch_success}">{{program.launch_success}}</span></p>
                        <p>Successful Landing: <span [ngClass]="{'successProgram': program.rocket.first_stage.cores[0].land_success, 'failureProgram': !program.rocket.first_stage.cores[0].land_success}">{{program.rocket.first_stage.cores[0].land_success || 'false'}}</span></p>
                    </div>
            </div>
    </div>
</div>